@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --copy-btn: linear-gradient(to right, hsl(143, 40%, 38%), hsl(280, 87%, 65%));
  --dark-background-desktop: url("./assets/images/bg-desktop-dark.jpg");
  --light-background-desktop: url("./assets/images/bg-desktop-light.jpg");
  --padding-x: "px-[6%] xl: px-[28%] lg:px-[26%] md:px-[22%] sm:px-[16%]"

}

.app{
  transition: all 0.4s ease-out;
}

.is-inactive{
  background-image: var(--main-gradient);
}

.update-container{
  animation: animate-update-container 0.5s ease;
  /* background-color: rgb(34, 128, 81); */
}

@keyframes animate-update-container {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

@layer components {
  .todo-item{
    @apply dark:text-white text-black w-full h-[3.4rem] flex flex-row items-center justify-start gap-2 pl-4 pr-2 relative;
  }

}


::-webkit-scrollbar{
  display: none;
}